<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gyanvarsha the word defines itself, it means the rain of knowledge. Here is the knowledge in terms of life sciences and biotechnology. Gyanvarsha will provide you with the best lectures on the
    life sciences and biotechnology field where you will be able to enhance and upgrade your knowledge.
    With this, it also helps you to crack entrance exams like CSIR-NET, GATE, IIT-JAM, DBT, ICMR, and
    various other competitive exams.">
    <meta name="keywords" content="Gyanvarsha, bioinformatics, coaching services, Gate BT,Gate XL, CSIR, DBT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gyanvarsha : Learn & Lead</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- -----------------------------------header----------------------------------- -->
    <header class="head" id="head">

        <nav class="navbar">
            <div class="logo">
                <a href="./"><img class="logo_img" src="../static/img/logo.png" alt="LOGO"
                        class="logo_img"></a>

            </div>
            <ul class="nav_buttons">
                <li class="navbar_links">
                    <a href="./">Home</a>
                </li>
                <li id = "/lectures" class="navbar_links">
                    <a href="./lectures">Lectures</a>
                </li>
                <li class="navbar_links">
                    <a href="#pyqs">PYQs</a>

                </li>
                <li class="navbar_links">
                    <a href="#kch">About</a>

                </li>
                <li class="navbar_links">
                    <a href="#contactus">Contact</a>

                </li>
            </ul>
        </nav>
    </header>

    <!-- ------------------------------------main----------------------------------------------------- -->
    <main class="main">
        <!-- ---------------------------------------home----------------------------------------------------------------         -->
        <div class="main_container" id="home">

            <div class="home main_main">
                <img  class="flex_img" src="../static/img/poster.jpg" height="90%" width="90%" alt="">
            </div>

        </div>
        <div id="kch"></div>
        <div class="upright">
            <a href="#">
                <img src="../static/img/arrow.png" height="40px" width="40px" alt="">

            </a>
        </div>


        <!-- -----------------------------------------------------aboutus---------------------------------------------------->
        <div class="about main_main" id="aboutus">
            <div class="about_us">

                <h1>About Gyanvarsha</h1>
                <p></p>
            </div>

            <div class="about_tutor cont">
                <div>
                    <img class="tutor_img" src="../static/img/tutor.png" alt="tutor_img">
                    <h3>Avantika Agrawal</h3>
                </div>
                <div class="about_tutor_text">
                    <p>Gyanvarsha the word defines itself, it means the rain of knowledge. Here is the knowledge in
                        terms
                        of life sciences and biotechnology. Gyanvarsha will provide you with the best lectures on the
                        life
                        sciences and biotechnology field where you will be able to enhance and upgrade your knowledge.
                        With
                        this, it also helps you to crack entrance exams like CSIR-NET, GATE, IIT-JAM, DBT, ICMR, and
                        various
                        other competitive exams.</p>
                </div>
            </div>

        </div>



        <!-- -----------------------------------------------------contactus---------------------------------------------- -->
            <div class="wrap_contactus" id="contactus">
                <div class="contactinfo">
                    <h3>Contact Information</h3>
                    <ul class="contact-info">
                        <li><span class="icon" style="font-weight: bold;">&#9993;  Email: </span>gyanvarshaquery@gmail.com</li>
                    </ul>
                </div>
                <div class="form">
                    <h1>Feel free to to ask or suggest</h1>
                    <form  name="form" action="/submit" method="post">
                        <input type="text" class="input" id="name" name="name" placeholder="Your name here" required>
                        <input type="email" class="input" id="email" name="email" placeholder="Your email here" required>
                        <input type="number" class="input" id="contact_number" name="contact_number"  placeholder="Your Contact number here" required>
                        <textarea id="message" class="input" name="message" rows="4" required placeholder="Your Query/suggestions here"></textarea> 
                        <button class="submit" type="submit" id="submit">Submit</button>
                    </form>
                </div>
            </div>
    </main>

    <!-- -------------------------------------------footer------------------------------------------------------ -->

    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Gyanvarsha</h1>
                    <span class="footer__subtitle">Learn everyday to Lead Future</span>
                </div>

                <div class="footer__socials">
                    <a href="https://t.me/gyanvarsha" target="_blank" rel="noopener noreferrer">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" alt="Telegram"
                            width="30" height="30">
                    </a>
                    <a href="https://www.youtube.com/@Gyanvarshabio" target="_blank" rel="noopener noreferrer">
                        <img src="../static/icons/youtube.svg" alt="Youtube" width="30" height="30">
                    </a>
                    <a href="https://www.instagram.com/Gyanvarsha_/" target="_blank" rel="noopener noreferrer">
                        <img src="../static/img/insta.svg" alt="Youtube" width="30" height="30">
                    </a>
                </div>
            </div>
            <p>&copy; Gyanvarsha</p>
        </div>
    </footer>
    <script src="../static/script.js"></script>
</body>

</html>
