<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
    <link rel="stylesheet" href="../static/lectures.css">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <!-- -----------------------------------header----------------------------------- -->
    <header class="head">
        <nav class="navbar">
            <div class="logo">
                <a href="./"><img class="logo_img" src="../static/img/logo.png" alt="LOGO"
                        class="logo_img"></a>

            </div>
            <ul class="nav_buttons">
                <li class="navbar_links">
                    <a href="./">Home</a>
                </li>
                <li class="navbar_links">
                    <a href="./lectures">Lectures</a>

                </li>
                <li class="navbar_links">
                    <a href="#pyqs">PYQs</a>

                </li>
                
                <li class="navbar_links">
                    <a href="./#kch">About us</a>

                </li>
                <li class="navbar_links">
                    <a href="./#contactus">Contact us</a>

                </li>
            </ul>
        </nav>
    </header>

    <!-- ----------------------------------------lectures---------------------------------------------------- -->
    <div class="lectures main_main" id="lectures">
        <div class="upright">
            <a href="#">
                <img src="../static/img/arrow.png" height="40px" width="40px" alt="">

            </a>
        </div>
        <div class="container">
            <div class="first">
                <ul>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa90yLH-I2jxyVUpfoOS-nffP"
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>CELL SIGNALLING </h3>
                            </a>
                        </li>
                    </div>

                    <div class="list">
                        <li><a href="https://www.youtube.com/watch?v=xa2prR4vX0w&list=PLDxFfvDdEa915hhQCwfCZzE6QQ9FaiG00"
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>BIOINFORMATICS</h3>
                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa918BP_LGxJ6rqZr-Ro1VRsJ "
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>BIOCHEMISTRY (BIOMOLECULES)</h3>
                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa910ECCbqUrQiq2HwVzojXpw"
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>DNA REPAIR PATHWAY</h3>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="first">
                <ul>
                    <div class="list">
                        <li><a href="https://youtube.com/playlist?list=PLDxFfvDdEa90GctaZNr34LQHbQh309xry"
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>IMMUNOLOGY </h3>
                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa903Al3A1zCui7zGuDlrHWAF "
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>GENETICS</h3>
                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa908OnZdLWZ59ah8cDbTmAD9 "
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>CELL BIOLOGY</h3>
                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa913Q2UXw-fxFua1OxaSOEPR "
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>BIOCHEMISTRY (METABOLISM )</h3>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="first">
                <ul>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa91xlIxrmPJqOYEwQCdZIah2 "
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>BIOCHEMISTRY (CYCLES)</h3>
                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa90FXIvI1odEsxDeKKW0va8M"
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>MOLECULAR BIOLOGY </h3>
                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/playlist?list=PLDxFfvDdEa90bBFnLQqWKyCTnVvh6LRB1 "
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>DIVERSITY OF LIFE</h3>

                            </a>
                        </li>
                    </div>
                    <div class="list">
                        <li><a href="https://www.youtube.com/watch?v=Lidd4m36mH8&list=PLDxFfvDdEa92egkUVRnyas-7LOzRFmJiG"
                                target="_blank"><img src="../static/icons/youtube.svg" alt="">
                                <h3>MICROBIOLOGY</h3>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>

        </div>
    </div>

    </footer>

</body>

</html>